/* Color Theme Swatches in Hex */
$Teal-Dream-1-hex: #8b84b8;
$Teal-Dream-2-hex: #1B7F7A;
$Teal-Dream-3-hex: #7faab3;
$Teal-Dream-4-hex: #4CABA6;
$Teal-Dream-5-hex: #ecdaca;


/* Color Theme Swatches in Hex */
$Tropical-Fruit-Punch-1-hex: #3b9281;
$Tropical-Fruit-Punch-2-hex: #274925;
$Tropical-Fruit-Punch-3-hex: #B4CF66;
$Tropical-Fruit-Punch-4-hex: #FFEC5C;
$Tropical-Fruit-Punch-5-hex: #f0927d;


